


html {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  background-color: #292C2F;
}


main {
  display:grid;
  grid-template-columns: 200px 250px 200px ;
  grid-auto-rows:200px 300px 200px;
  grid-gap:1rem;
  width: 70vw;
  margin: 5px auto;
}

.intro-block {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #B2B2B2;
}



h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom:1rem;

}

h5 {
  font-size:1.2rem;
  font-weight:300;
  color: #666666;
}

li {
  font-size: 1.25rem;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .955rem;
  font-family: 'Libre Baskerville', serif;
  padding-top: 1rem;
  text-align: center;
}
